In [16]:
%pip install matplotlib pandas seaborn

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.10.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.3)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
df = pd.read_csv("amazon.csv")

In [15]:
df.head(10)

,date,open,high,low,close,adj_close,volume
0,2012-05-21 00:00:00-04:00,10.7015,10.9990,10.6410,10.9055,10.9055,71596000
1,2012-05-22 00:00:00-04:00,10.9155,10.9435,10.6980,10.7665,10.7665,74662000
2,2012-05-23 00:00:00-04:00,10.7355,10.8775,10.5590,10.8640,10.8640,84876000
3,2012-05-24 00:00:00-04:00,10.8490,10.8830,10.6350,10.7620,10.7620,62822000
4,2012-05-25 00:00:00-04:00,10.7495,10.7990,10.6110,10.6445,10.6445,43428000
5,2012-05-29 00:00:00-04:00,10.7150,10.8275,10.6145,10.7375,10.7375,53878000
6,2012-05-30 00:00:00-04:00,10.6070,10.6490,10.3875,10.4615,10.4615,81564000
7,2012-05-31 00:00:00-04:00,10.4740,10.6895,10.3555,10.6455,10.6455,98880000
8,2012-06-01 00:00:00-04:00,10.4220,10.5615,10.3650,10.4110,10.4110,79030000
9,2012-06-04 00:00:00-04:00,10.3700,10.7675,10.3185,10.7285,10.7285,85992000